/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background-color: #e54343d1;
    color: #181818;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Alata', sans-serif;
}

.nav__a--active {
    background-color: #5d5d5d;
}

/*  INICIO  */
/* Navbar */
.p-logo {
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: #d41c1c;
    font-size: 35px;
    margin: 0;
}

.navbar {
    background-color: #343434;
    position: sticky;
    top: 0;
    z-index: 10;
}
.collapse {
    justify-content: space-evenly;
}
.navbar-toggler {
    background-color: #d41c1c;
}
.btn-outline-success {
    --bs-btn-color: #d41c1c;
    --bs-btn-border-color: #d41c1c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d41c1c;
    --bs-btn-hover-border-color: #d41c1c;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d41c1c;
    --bs-btn-active-border-color: #d41c1c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #d41c1c;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #d41c1c;
    --bs-gradient: none;
}

@media (max-width: 441px) {
 .navbar .container-fluid {
    justify-content: flex-end;
  }
  .container-fluid a {
    margin: 0 auto;
  }
}

/*--------Main---------*/

#main-index h1,
h2 {
    text-align: center;
    margin: 10px;
    color: #d8dad3;
}

#main-index h1 {
    font-size: 37px;
}

#main-index {
    background: linear-gradient(90deg, #181818, #767676);
}

.carousel-item .carousel-caption {
    background-color: #181818b3;
    padding: 10px;
}

.carousel-item .carousel-caption h4 {
    text-transform: uppercase;
}

.tarjetas-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ab1e1e;
    width: 212px;
    height: 278px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #313131;
}

.tarjeta p {
    width: auto;
    height: auto;
    text-align: center;
    margin: -11px 0;
    background-color: #ff5d55;
}

.fa-solid {
    font-size: 60px;
    color: #181818;
}

/* Footer */

.pre-footer {
    width: 100%;
    background-color: #3a3a3a;
    color: #fff;
    text-align: center;
}

.pre-footer a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.footer {
    color: #929292;
    background-color: #181818;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.footer p {
    padding: 5px;
    margin: 0;
}

/*  PAGINA CALISTENIA  */

#main-calistenia .img-main-calistenia img {
    width: 100%;
    height: 430px;
    object-fit: cover;
}

#main-calistenia {
    width: 100%;
    background: linear-gradient(90deg, #181818, #767676);
    color: #d8dad3;
}

.primer-div h2 {
    text-align: left;
    margin: 20px;
    text-transform: uppercase;
}

.primer-div p {
    text-align: left;
    margin: 0 0 20px 30px;
}
   /* Grid */
.primer-div {
    text-align: right;
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "primer-div-texto primer-div-img"
        "primer-div-texto primer-div-iframe"
    ;
    grid-template-rows: 1fr 1fr;
    border-bottom: solid 2px #343434;
    padding-bottom: 20px;
}

.primer-div-texto {
    grid-area: primer-div-texto;
}

.primer-div-img {
    grid-area: primer-div-img;
}

.primer-div-iframe {
    grid-area: primer-div-iframe;
}

.primer-div img {
    width: 80%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 20px;
}

.primer-div iframe {
    width: 90%;
    margin: auto;
}

.segundo-div {
    text-align: left;
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    border-bottom: solid 2px #343434;
    padding-bottom: 20px;
}

.segundo-div h2 {
    text-align: right;
    margin: 20px;
    text-transform: uppercase;
}

.segundo-div p {
    text-align: right;
    margin: 0 30px 20px 0;
}

.segundo-div img {
    width: 90%;
    margin: auto;
}

.tercer-div {
    text-align: right;
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "tercer-div-texto tercer-div-iframeUno"
        "tercer-div-texto tercer-div-iframeDos"
    ;
    grid-template-rows: 1fr 1fr;
}

.tercer-div-texto {
    grid-area: tercer-div-texto;
}

.tercer-div-img {
    grid-area: tercer-div-iframeUno;
}

.tercer-div-iframe {
    grid-area: tercer-div-iframeDos;
}

.tercer-div-texto p a {
    color: #d8dad3;
}

.tercer-div h2 {
    text-align: left;
    margin: 20px;
    text-transform: uppercase;
}

.tercer-div p {
    text-align: left;
    margin: 0 0 20px 30px;
}

.tercer-div iframe {
    width: 90%;
    height: 350px;
    margin: auto;
}

@media (max-width: 900px) {

    .primer-div,
    .tercer-div {
        display: flex;
        flex-direction: column;
    }

    .primer-div .primer-div-texto p {
        margin: 20px;
    }
    .primer-div .primer-div-img {
        padding: 0;
        margin: 10px auto;
    }
    .segundo-div {
    display: flex;
    flex-direction: column-reverse;
    }
    .segundo-div h2, .segundo-div p {
        text-align: left;
    }
    .segundo-div p {
        margin: 20px;
    }
    .tercer-div p {
        margin: 20px;
    }
    .tercer-div iframe {
        margin: 10px auto;
    }
}   

/* PAGINA EJERCICIOS */

.sections-container {
    background: linear-gradient(90deg, #181818, #767676);
    color: #d8dad3;
    width: 100%;
}

.espacio-en-blanco {
    display: flex;
    width: 100%;
    height: 31.25rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('https://media.gq.com.mx/photos/6234825f1982a4c011ad4bff/16:9/w_2560%2Cc_limit/calistenia.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.espacio-en-blanco img {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.h1-ejercicios {
    margin: 0 auto;
    font-size: 8rem;
    color: #d41c1c;
    text-shadow: 3px 1px 3px black;
}

.sections-container h2 {
    color: #d41c1cee;
    text-decoration: underline;
    font-size: 40px;
    text-shadow: 3px 1px 3px black;
    flex-shrink: inherit;
}

.basicos-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.basicos-section p {
    font-size: 18px;
    margin: 15px auto;
    width: 60%;
}

.basicos-section iframe {
    width: 60%;
    height: 350px;
    margin: 10px auto;
}

.introduccion {
    width: 72%;
    margin: 0px auto;
    padding: 20px;
    border-left: solid 2px #d41c1c;
    font-size: 20px;
    font-weight: 400;
}

.estaticos-section {
    text-align: center;
}

.epigrafe {
    font-size: 16px;
    font-style: italic;
    margin: 0 auto 10px;
}

.div-planche-progresiones img {
    width: 70%;
    margin: 20px;
}

.estaticos-section h3 {
    margin: 20px 0;
}

.tuckPlanche {
    margin-top: 30px;
}

.div-planche-ejercicios h4 {
    margin: 10px 0;
}

.div-planche-ejercicios img {
    width: 100%;
    margin: 15px 0;
}

.div-planche-ejercicios iframe {
    margin: 20px auto;
    width: 100%;
    height: 300px;
}

.estaticos-section {
    text-align: center;
}

.frontLever {
    margin-top: 20px;
}

.div-frontLever-progresiones img {
    max-width: 80%;
    margin: 20px;
}

.div-frontLever-ejercicios img {
    max-width: 80%;
    margin: 20px;
}

.div-frontLever-ejercicios iframe {
    width: 100%;
    margin: 20px auto;
}

.rutinas {
    text-align: center;
}

#tablaDeRutinas {
    text-align: center;
}

@media (max-width: 768px) {
    .basicos-section p {
        width: 80%;
    }
    .h1-ejercicios {
        font-size: 6rem;
    }
    .planche, .lever {
        flex-direction: column;
    }
    .div-frontLever-ejercicios iframe {
        height: 300px;
        width: 80%;
    }
    .div-planche-ejercicios iframe {
        width: 80%;
    }
    .basicos-section iframe {
        width: 80%;
    }
    .espacio-en-blanco {
        display: flex;
        width: 100%;
        height: 31.25rem;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        background-image: url('https://media.gq.com.mx/photos/6234825f1982a4c011ad4bff/1:1/w_2560%2Cc_limit/calistenia.jpg');
        background-size: cover;
        background-attachment: local;
    }
}

@media (max-width: 576px){
    .h1-ejercicios {
        font-size: 4rem;
    }
    .basicos-section {
        align-items: flex-start;
    }
    .sections-container .basicos-section .introduccion {
        margin: 0;
        width: 100%;
    }
    .basicos-section p {
        margin: 15px 10px;
        width: 90%;
    }
}

/* PAGINA CONTACTO */

#contacto-body {
    background: linear-gradient(90deg, #181818, #767676);
    color: #d8dad3
}

.h1-contacto {
    text-align: center;
    font-size: 40px;
    margin: 20px 0 40px 0;
}

.form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    text-align: center;
}

.label {
    display: block;
    text-align: left;
}

.input-contacto,
.textarea {
    width: 100%;
    margin: 10px 0 0 0;
    background: transparent;
    border: none;
    border-bottom: #313131 solid 1px;
    color: #cacaca;
}

.input-contacto:focus {
    height: 30px;
}

.boton-enviar {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: solid 2px #323232;
    border-radius: 7px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #f1f2eb, #767676);
    cursor: pointer;
    transition: background-position 0.3s ease;
}

.boton-enviar:hover {
    background-color: #afaeae;
    background-position: -100% 0;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.redes-sociales i {
    width: 100px;
    height: 45px;
    transition: transform 0.2s;
    text-align: center;
    color: #f1f2eb;
}

.redes-sociales i:hover {
    transform: scale(1.1);
}

@media (max-width: 440px) {
    .redes-sociales i {
        width: 75px;
    }
}

/* TIENDA */

.h1-tienda {
    text-align: center;
    font-size: 60px;
    border: solid 5px #ab1e1e;
    padding: 20px;
}

.main-tienda {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}